*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #cac8c9;
}

h1{
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #000;
    font-family: 'Hind', sans-serif;
}

h2{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-weight: lighter;
}

nav{
    box-shadow: 0 0 10px #000;
}

.styling{
    font-weight: 800;
    color: #009cff;
}

.input_div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input_div .input{
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    background-color: white;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    border: none;
    color: #000;
    box-shadow: 0 0 10px #000;
}

.addButton{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #009cff;
    color: #000;
    margin: 0.25px;
    cursor: pointer;
}

.addButton:hover{
    opacity: 0.7;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item{
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 4px solid #fff;
}

.item_input{
    background: none;
    outline: none;
    color: #000;
    border: none;
    width: 350px;
    font-size: 1.4rem;
    font-weight: bold;
}

.editButton{
    font-size: 1.4rem;
    margin: 0 0.75rem;
    font-family: 'Hind', sans-serif;
    background: none;
    outline: none;
    color: #009cff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.removeButton{
    font-size: 1.4rem;
    margin: 0 0.75rem;
    font-family: 'Hind', sans-serif;
    background: none;
    outline: none;
    color: #e00;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.doneButton{
    font-size: 1.4rem;
    margin: 0 0.75rem;
    font-family: 'Hind', sans-serif;
    background: none;
    outline: none;
    color: #2ace62;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
