<!doctype html>
<html lang="en">

<head>
{% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/singerPage.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
    <title>International songs</title>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button id="gobackBtn" class="btn btn-outline-success my-2 my-sm-0"><a href="music hpg.html">Go
            Back</a></button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="searchTxt" type="search" placeholder="Search for songs"
                    aria-label="Search">
                <button onclick="this.preventDefault()" id="searchBtn"
                    class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form>
        </div>   
    </nav>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="general">
                    <h4 style="text-align: center;">Enjoy The Songs</h4>
                </div>
                <br>
                <br>
                <div class="col-md-12" id="singerName">
                    <h4 style="text-align: center;">Top International Songs</h4>
                </div>
                <br>
                <br>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="0">
                        <img src="{% static '/image/English_songs/Stuck_with_u.jpeg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Stuck with u</h4>
                    </div>
                    <p><b>Ariana Grande & Justin Bieber</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="1">
                        <img src="{% static '/image/English_songs/Intentions.jpeg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Intentions</h4>
                    </div>
                    <p><b>Justin Bieber</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="2">
                        <img src="{% static '/image/English_songs/Lil_Mosey.jfif' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Blueberry Faygo</h4>
                    </div>
                    <p><b>Lil Mosey</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="3">
                        <img src="{% static '/image/English_songs/LM3ALLEM-arabic.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>LM3ALLEM-arabic</h4>
                    </div>
                    <p><b>Saad Lamjarred</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="4">
                        <img src="{% static '/image/English_songs/Doja_cat.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Say So</h4>
                    </div>
                    <p><b>Doja Cat</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="5">
                        <img src="{% static '/image/English_songs/NAV_-_No_Debate_feat.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Travis Scott - Turks</h4>
                    </div>
                    <p><b>NAV & Gunna</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="6">
                        <img src="{% static '/image/English_songs/The_box.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>The box</h4>
                    </div>
                    <p><b>Roddy Ricch</b></p>
                </div>


                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="7">
                        <img src="{% static '/image/English_songs/Stupid_love.png' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Stupid love</h4>
                    </div>
                    <p><b>Lady Gaga </b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="8">
                        <img src="{% static '/image/English_songs/Whats_poppin.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Whats poppin</h4>
                    </div>
                    <p><b>Jack Harlow</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="9">
                        <img src="{% static '/image/English_songs/The Weeknd - Blinding_Lights.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>The Weekend - Blinding Lights</h4>
                    </div>
                    <p><b>Weeknd</b></p>
                </div>


                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="10">
                        <img src="{% static '/image/English_songs/Be_Kind.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Be Kind</h4>
                    </div>
                    <p><b>Marshallow and Halsey</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="11">
                        <img src="{% static '/image/English_songs/Baby.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Baby</h4>
                    </div>
                    <p><b>Justin Bieber</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="12">
                        <img src="{% static '/image/English_songs/Roses.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Roses Imanbek Remix</h4>
                    </div>
                    <p><b>SAINt JHN</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="13">
                        <img src="{% static '/image/English_songs/Despacito.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Despacito</h4>
                    </div>
                    <p><b>Louis Founsi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="14">
                        <img src="{% static '/image/English_songs/Dont_Start_Now.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Don't Start Now</h4>
                    </div>
                    <p><b>Dua Lipa</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="15">
                        <img src="{% static '/image/English_songs/Joker_BGM_song.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Joker BGM song</h4>
                    </div>
                    <p><b>Indila</b></p>
                </div>



                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="16">
                        <img src="{% static '/image/English_songs/Shape_Of_You.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Shape Of You</h4>
                    </div>
                    <p><b>Ed Sherran</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="17">
                        <img src="{% static '/image/English_songs/Sick_and_Tired.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Sick and Tired</h4>
                    </div>
                    <p><b>Anastacia</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="18">
                        <img src="{% static '/image/English_songs/Yummy.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Yummy</h4>
                    </div>
                    <p><b>Justin Bieber</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="19">
                        <img src="{% static '/image/English_songs/Animal_Trance.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Animal trance</h4>
                    </div>
                    <p><b>Jules Craig</b></p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Comimg Soon..</h4>
                    <hr>
                </div>
                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>

                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>

                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>


                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>


                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>



                <div class="col-md-2">
                    English songs/ <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>


            </div>
        </div>
    </div>

    <div id="aplayer">

    </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
    <script src="{% static '/English.js'%}"> </script>

</body>

</html>
