{% extends 'layout_song.html' %}
{% block content %}
{% load static %}

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static '/singerPage.css'%}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
  <title>Hindi songs</title>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button id="gobackBtn" class="btn btn-outline-success my-2 my-sm-0"><a href="music hpg.html">Go
        Back</a></button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="searchTxt" type="search" placeholder="Search for songs"
                aria-label="Search">
            <button onclick="this.preventDefault()" id="searchBtn"
                class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
    </div>   
</nav>

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="general">
          <h4 style="text-align: center;">Enjoy The Songs</h4>
        </div>
        <br>
        <br>
        <div class="col-md-12" id="singerName">
          <h4 style="text-align: center;">Top Hindi Songs</h4>
        </div>
        <br>
        <br>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="0">
            <img src="{% static '/Hindi_songs/Aankh_Mare.jpg' %}">
          </a>
          <h4>Aankh Mare</h4>
          <p><b>Kumar Sanu, Mika Singh, Neha Kakkar,Simba</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="1">
            <img src="{% static '/Hindi_songs/Ae_Dil_Hai_Mushkil.jpg' %}">
          </a>
          <h4>Ae Dil Hai Mushkil</h4>
          <p><b>Arjit Singh</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="2">
            <img src="{% static '/Hindi_songs/All_Black.jpg' %}">
          </a>
          <h4>All Black</h4>
          <p><b>Raftaar, Sukh-E</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="3">
            <img src="{% static '/Hindi_songs/Ankhiyon_Se_Goli_Maare.jpg' %}">
          </a>
          <h4>Ankhiyon Se Goli Maare</h4>
          <p><b>Jaspinder Narula, Sonu Nigam</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="4">
            <img src="{% static '/Hindi_songs/Apna_Time_Aayega.jpg' %}">
          </a>
          <h4>Apna Time Aayega</h4>
          <p><b>Ranveer Singh</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="5">
            <img src="{% static '/Hindi_songs/Ban_Ja_Rani.jpg' %}">
          </a>
          <h4>Ban Ja Rani-Remix</h4>
          <p><b>Guru Randhawa, Shraddha Vajpayee</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="6">
            <img src="{% static '/Hindi_songs/Bekhayali.jpg' %}">
          </a>
          <h4>Bekhayali</h4>
          <p><b>Arjit Singh, Kabir Singh</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="7">
            <img src="{% static '/Hindi_songs/Bekhudi.jpg' %}">
          </a>
          <h4>Bekhudi</h4>
          <p><b>Aditi Sharma and Darshan Raval</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="8">
            <img src="{% static '/Hindi_songs/Bheegi_Bheegi.jpg' %}">
          </a>
          <h4>Bheegi Bheegi</h4>
          <p><b>Neha Kakkar and Tony Kakkar</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="9">
            <img src="{% static '/Hindi_songs/Bom_Diggy_Diggy.jpg' %}">
          </a>
          <h4>Bom Diggy Diggy</h4>
          <p><b></b>Jasmine Walia and Zack Knight</p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="10">
            <img src="{% static '/Hindi_songs/Breathless.jpg' %}">
          </a>
          <h4>Breathless</h4>
          <p><b>Shankar Mahadevan</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="11">
            <img src="{% static '/Hindi_songs/Chal_Bombay.jpg' %}">
          </a>
          <h4>Chal Bombay</h4>
          <p><b>Divine</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="12">
            <img src="{% static '/Hindi_songs/Cheez_Badi.jpg' %}">
          </a>
          <h4>Cheez Badi</h4>
          <p><b>Neha Kakkar</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="13">
            <img src="{% static '/Hindi_songs/Coca_Cola.jpg' %}">
          </a>
          <h4>Coca Cola</h4>
          <p><b>Tony Kakkar</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="14">
            <img src="{% static '/Hindi_songs/Daddy_Mummy.jpg' %}">
          </a>
          <h4>Daddy Mummy</h4>
          <p><b>Devi Sri Prasad and M.M.Manasi</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="15">
            <img src="{% static '/Hindi_songs/Das_Bahane_2.0.jpg' %}">
          </a>
          <h4>Das Bahane 2.0</h4>
          <p><b>Vishal-Shekhar</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="16">
            <img src="{% static '/Hindi_songs/Deewani_Mastani.jpg' %}">
          </a>
          <h4>Deewani Mastani</h4>
          <p><b>Shreya Ghoshal</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="17">
            <img src="{% static '/Hindi_songs/Dilbar.jpg' %}">
          </a>
          <h4>Dilbar</h4>
          <p><b>Dhvani Bhanushali, Ikka Singh and Neha Kakkar</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="18">
            <img src="{% static '/Hindi_songs/Dil_abhi_bhara_nhi.jpg' %}">
          </a>
          <h4>Dil abhi bhara nhi</h4>
          <p><b>Jaspinder Narula and Shankar Mahadevan</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="19">
            <img src="{% static '/Hindi_songs/Dil_Hi_Toh_Hai.jpg' %}">
          </a>
          <h4>Dil Hi Toh Hai</h4>
          <p><b>Antara Mitra and Arjit Singh</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="20">
            <img src="{% static '/Hindi_songs/FIRSE_MACHAYENGE.jpg' %}">
          </a>
          <h4>FIRSE MACHAYENGE</h4>
          <p><b>EMIWAY BANTAI</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="21">
            <img src="{% static '/Hindi_songs/Gali_Gali.jpg' %}">
          </a>
          <h4>Gali Gali</h4>
          <p><b>Neha Kakkar</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="22">
            <img src="{% static '/Hindi_songs/Garmi_Song.jpg' %}">
          </a>
          <h4>Garmi Song</h4>
          <p><b>Badshah and Neha Kakkar</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="23">
            <img src="{% static '/Hindi_songs/Ghammand_Kar.jpg' %}">
          </a>
          <h4>Ghammand Kar</h4>
          <p><b>Parampara Thakur and Sachet Tandon</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="24">
            <img src="{% static '/Hindi_songs/Ghunghroo.jpg' %}">
          </a>
          <h4>Ghunghroo</h4>
          <p><b>Arjit Singh</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="25">
            <img src="{% static '/Hindi_songs/High_Rated.jpg' %}">
          </a>
          <h4>High Rated</h4>
          <p><b>Gururandhawa</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="26">
            <img src="{% static '/Hindi_songs/Ik_Mulakat.jpg' %}">
          </a>
          <h4>Ik Mulakat</h4>
          <p><b>Altamash Faridi, Palak Muchhal, Meet Bros</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="27">
            <img src="{% static '/Hindi_songs/Illegal_Weapon_2.0.jpg' %}">
          </a>
          <h4>Illegal Weapon 2.0</h4>
          <p><b>Garry Sandhu and Jasmine Sandias</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="28">
            <img src="{% static '/Hindi_songs/Ishare_Tere.jpg' %}">
          </a>
          <h4>Ishare Tere</h4>
          <p><b>Gururandhawa and Dhvani Bhanushali</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="29">
            <img src="{% static '/Hindi_songs/Jo_Bheji_Thi_Duaa.jpg' %}">
          </a>
          <h4>Jo Bheji Thi Duaa</h4>
          <p><b>Arjit Singh</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="30">
            <img src="{% static '/Hindi_songs/Kabhi_Jo_Badal_Barse.jpg' %}">
          </a>
          <h4>Kabhi Jo Badal Barse</h4>
          <p><b>Arjit Singh</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="31">
            <img src="{% static '/Hindi_songs/Kamariya.jpg' %}">
          </a>
          <h4>Kamariya</h4>
          <p><b>Aastha Gill, Divya Kumar and Sachin Sanghvi</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="32">
            <img src="{% static '/Hindi_songs/Vaaste.jpg' %}">
          </a>
          <h4>Vaaste</h4>
          <p><b>Dhvani Bhanushali</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="33">
            <img src="{% static '/Hindi_songs/Ishq_tera.jpg' %}">
          </a>
          <h4>Ishq Tera</h4>
          <p><b>Guru Randhawa</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="34">
            <img src="{% static '/Hindi_songs/Leja_Re.jpg' %}">
          </a>
          <h4>Leja Re</h4>
          <p><b>Dhvani Bhanushali</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="35">
            <img src="{% static '/Hindi_songs/Naina.jpg' %}">
          </a>
          <h4>Naina</h4>
          <p><b>Arijit Singh</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="36">
            <img src="{% static '/Hindi_songs/Tera_Ban_Jaaunga.jpg' %}">
          </a>
          <h4>Tera Ban Jaaunga</h4>
          <p><b>Akhil Sachdeva and Tulsi Kumar</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="37">
            <img src="{% static '/Hindi_songs/Kabira.jpg' %}">
          </a>
          <h4>Kabira</h4>
          <p><b>Rekha Bhardwaj and Tochi Raina</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="38">
            <img src="{% static '/Hindi_songs/Teri_Mitti.jpg' %}">
          </a>
          <h4>Teri Mitti</h4>
          <p><b>B Praak</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="39">
            <img src="{% static '/Hindi_songs/Ve_Maahi.jpg' %}">
          </a>
          <h4>Ve Maahi</h4>
          <p><b>Arijit Singh and Asees Kaur</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="40">
            <img src="{% static '/Hindi_songs/Zara_Zara_Behekta_Hai.jpg' %}">
          </a>
          <h4>Zara Zara Behekta Hai</h4>
          <p><b>Bombay Jayashri</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="41">
            <img src="{% static '/Hindi_songs/Tera_Fitoor.jpg' %}">
          </a>
          <h4>Tera Fitoor</h4>
          <p><b>Arijit Singh</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="42">
            <img src="{% static '/Hindi_songs/Tera_Baap_Aaya.jpg' %}">
          </a>
          <h4>Tera Baap Aaya</h4>
          <p><b>Farhad Bhiwandiwala</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="43">
            <img src="{% static '/Hindi_songs/Shankara_Re_Shankara.jpg' %}">
          </a>
          <h4>Shankara Re Shankara</h4>
          <p><b>Mehul Vyas</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="44">
            <img src="{% static '/Hindi_songs/Baala.jpg' %}">
          </a>
          <h4>Baala</h4>
          <p><b>Sohail Sen and Vishal Dadlani</b></p>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="45">
            <img src="{% static '/Hindi_songs/O_SAKI_SAKI.jpg' %}">
          </a>
          <h4>O SAKI SAKI</h4>
          <p><b>Neha Kakkar and Tulsi Kumar</b></p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Comimg Soon..</h4>
          <hr>
        </div>
        <div class="col-md-2">
          <a href="#" class="album-poster">
            <img src="{% static '/Et20.jpg' %}">
          </a>
          <h4>Song Info</h4>
        </div>

        <div class="col-md-2">
          <a href="#" class="album-poster">
            <img src="{% static '/Et20.jpg' %}">
          </a>
          <h4>Song Info</h4>
        </div>

        <div class="col-md-2">
          <a href="#" class="album-poster">
            <img src="{% static '/Et20.jpg' %}">
          </a>
          <h4>Song Info</h4>
        </div>


        <div class="col-md-2">
          <a href="#" class="album-poster">
            <img src="{% static '/Et20.jpg' %}">
          </a>
          <h4>Song Info</h4>
        </div>


        <div class="col-md-2">
          <a href="#" class="album-poster">
            <img src="{% static '/Et20.jpg' %}">
          </a>
          <h4>Song Info</h4>
        </div>



        <div class="col-md-2">
          <a href="#" class="album-poster">
            <img src="{% static '/Et20.jpg' %}">
          </a>
          <h4>Song Info</h4>
        </div>


      </div>
    </div>
  </div>

  <div id="aplayer">

  </div>

{% block js %}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
  <script src="{% static '/Hindi.js' %}"> </script>

{% endblock js %}
</body>
{% endblock content %}
