<!doctype html>
<html lang="en">

<head>
{% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/singerPage.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
    <title>Marathi songs</title>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button id="gobackBtn" class="btn btn-outline-success my-2 my-sm-0"><a href="music hpg.html">Go
            Back</a></button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="searchTxt" type="search" placeholder="Search for songs"
                    aria-label="Search">
                <button onclick="this.preventDefault()" id="searchBtn"
                    class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form>
        </div>   
    </nav>

    <div class="main">
        <div class="container">
            <div class="row">
                

                <div class="col-md-12" id="general">
                    <h4 style="text-align: center;">Enjoy The Songs</h4>
                </div>
                <br>
                <br>
                <div class="col-md-12" id="singerName">
                    <h4 style="text-align: center;">Top Marathi Songs</h4>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="0">
                        <img src="{% static '/image/Marathi songs/A Savita Aga Savita.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>A Savita Aga Savita</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="1">
                        <img src="{% static '/image/Marathi songs/Aai Tujha deul.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Aai Tujha deul</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="2">
                        <img src="{% static '/image/Marathi songs/Aamdar Zalya Sarkha Vatatay.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Aamdar Zalya Sarkha Vatatay</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="3">
                        <img src="{% static '/image/Marathi songs/Aaple Saheb Thackrey.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Aaple Saheb Thackrey</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="4">
                        <img src="{% static '/image/Marathi songs/Aatach Baya Ka Baavarla.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Aatach Baya Ka Baavarla</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="5">
                        <img src="{% static '/image/Marathi songs/Aho Mami Tumchi Mulagi Lay Sundar.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Aho Mami Tumchi Mulagi Lay Sundar</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="6">
                        <img src="{% static '/image/Marathi songs/Apsara Aali.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Apsara Aali</h4>
                    </div>
                    
                    <p><b>Sonalee Kulkarni and Ajay-Atul</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="7">
                        <img src="{% static '/image/Marathi songs/Bablya Ekas Kesavar Fuge.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Bablya Ekas Kesavar Fuge</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="8">
                        <img src="{% static '/image/Marathi songs/Bhau - Shambu.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Bhau - Shambu</h4>
                    </div>
                    
                    <p><b>Shambu</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="9">
                        <img src="{% static '/image/Marathi songs/Fandry Song.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Fandry Song</h4>
                    </div>
                    
                    <p><b>Ajay-Atul</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="10">
                        <img src="{% static '/image/Marathi songs/Gondhal.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Gondhal</h4>
                    </div>
                    
                    <p><b>Ajay-Atul</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="11">
                        <img src="{% static '/image/Marathi songs/Govyachya Kinaryav.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Govyachya Kinaryav</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="12">
                        <img src="{% static '/image/Marathi songs/Gulabachi Kali.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Gulabachi Kali</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="13">
                        <img src="{% static '/image/Marathi songs/Hi Poli Saajuk.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Hi Poli Saajuk</h4>
                    </div>
                    
                    <p><b>Reshma Sonawane</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="14">
                        <img src="{% static '/image/Marathi songs/Halad Lagali.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Halad Lagali</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="15">
                        <img src="{% static '/image/Marathi songs/Ishkkachi Nauka.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Ishkkachi Nauka</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="16">
                        <img src="{% static '/image/Marathi songs/Ka Kalena.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Ka Kalena</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="17">
                        <img src="{% static '/image/Marathi songs/Khel Mandala.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Khel Mandala</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="18">
                        <img src="{% static '/image/Marathi songs/Koliwada Jhingla.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Koliwada Jhingla</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="19">
                        <img src="{% static '/image/Marathi songs/Kombadi Palali.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Kombadi Palali</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="20">
                        <img src="{% static '/image/Marathi songs/Mala Ved Lagale.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Mala Ved Lagale</h4>
                    </div>
                   
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="21">
                        <img src="{% static '/image/Marathi songs/O kaka.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>O kaka</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="22">
                        <img src="{% static '/image/Marathi songs/O Raje.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>O Raje</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="23">
                        <img src="{% static '/image/Marathi songs/Pune RAP.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Pune RAP</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="24">
                        <img src="{% static '/image/Marathi songs/Saavar Re Mana.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Saavar Re Mana</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="25">
                        <img src="{% static '/image/Marathi songs/Sairat Zala Ji.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Sairat Zala Ji</h4>
                    </div>
                    
                    <p><b>Ajay-Atul</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="26">
                        <img src="{% static '/image/Marathi songs/Shantabia.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Shantabai</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="27">
                        <img src="{% static '/image/Marathi songs/Shitti Vajali.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Shitti Vajali</h4>
                    </div>
                    
                    <p></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="28">
                        <img src="{% static '/image/Marathi songs/TAN TAN BHAN BHAN.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>TAN TAN BHAN BHAN</h4>
                    </div>
                    
                    <p><b>Shambu</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="29">
                        <img src="{% static '/image/Marathi songs/Tola Tola.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tola Tola</h4>
                    </div>
                    
                    <p><b>Bela Shende and Amitraj</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="30">
                        <img src="{% static '/image/Marathi songs/Tu Chal Re Mana.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tu Chal Re Mana</h4>
                    </div>
                    
                    <p><b>Virat M and Mahesh M</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="31">
                        <img src="{% static '/image/Marathi songs/Wajle Ki Bara.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Wajle Ki Bara</h4>
                    </div>
                    
                    <p><b>Amrita Khanvelkar and Ajay-Atul</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="32">
                        <img src="{% static '/image/Marathi songs/Yad Lagla.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Yad Lagla</h4>
                    </div>
                    
                    <p><b>Ajay-Atul</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="33">
                        <img src="{% static '/image/Marathi songs/Zingat.jpg' %}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Zingat</h4>
                    </div>
                    <p><b>Ajay-Atul</b></p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Comimg Soon..</h4>
                    <hr>
                </div>
                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>

                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>

                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>


                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>


                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>



                <div class="col-md-2">
                    <a href="#" class="album-poster">
                        <img src="{% static '/image/Et20.jpg' %}">
                    </a>
                    <h4>Song Info</h4>
                </div>


            </div>
        </div>
    </div>

    <div id="aplayer">

    </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
    <script src="{% static '/Marathi.js' %}"> </script>

</body>

</html>