{% extends 'layout_song.html' %}
{% block content %}
{% load static %}
    <!-- Required meta tags -->
    <link rel="stylesheet" href="{% static '/singerPage.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
    <link href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>{% block title %}MdRafi songs
    {% endblock title %}</title>



<body>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="general">
                    <h4 style="text-align: center;">Enjoy The Songs</h4>
                </div>
                <br>
                <br>
                <div class="col-md-12" id="singerName">
                    <h4 style="text-align: center;">Best Of Rafi</h4>
                </div>
                <div class="col-md-12 singerImage">
                    <a href="javascript:void();" class="album-poster">
                        <img src="{% static '/MdRafi.jpg'%}" id="singerImg" alt="Rafi Image">
                    </a>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="0">
                        <img src="{% static '/MdRafi_Songs/Tumne_kisi.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tumne Kisi ki jaan ko</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="1">
                        <img src="{% static '/MdRafi_Songs/Dil_tera.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Dil tera deewana hai sanam</h4>
                    </div>
                    <p><b>Mohammad Rafi,Lata Mangeshkar</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="2">
                        <img src="{% static '/MdRafi_Songs/Tumne_mujhe.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tumne mujhe dekha</h4>
                    </div>
                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="3">
                        <img src="{% static '/MdRafi_Songs/Dil_abhi.png'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Dil abhi bhara nahi</h4>
                    </div>

                    <p><b>Mohammad Rafi,Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="4">
                        <img src="{% static '/MdRafi_Songs/Hue_hai.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Hue hai tumpe aashiq hum</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="5">
                        <img src="{% static '/MdRafi_Songs/Chura_liya.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Chura liya hai tumne</h4>
                    </div>

                    <p><b>Mohammad Rafi,Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="6">
                        <img src="{% static '/MdRafi_Songs/O_mere_sona.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>O mere sona re</h4>
                    </div>

                    <p><b>Mohammad Rafi, Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="7">
                        <img src="{% static '/MdRafi_Songs/Isharon_isharon.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Isharon isharon mein</h4>
                    </div>

                    <p><b>Mohammad Rafi, Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="8">
                        <img src="{% static '/MdRafi_Songs/Ye_jo_chilman.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Yeh jo chilman hai</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="9">
                        <img src="{% static '/MdRafi_Songs/Tumse_o_haseena.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tumse o haseena</h4>
                    </div>

                    <p><b>Mohammad Rafi,Suman Kalyanpur</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="10">
                        <img src="{% static '/MdRafi_Songs/Zulfon_ko.jpeg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Zulfon ko hatale chehre se</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="11">
                        <img src="{% static '/MdRafi_Songs/Khuli_palak.png'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Khuli palak mein</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="12">
                        <img src="{% static '/MdRafi_Songs/Dhal_gaya.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Dhal gaya din</h4>
                    </div>

                    <p><b>Mohammad Rafi,Suman Kalyanpur</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="13">
                        <img src="{% static '/MdRafi_Songs/Itna_to.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Itna toh yaad hai mujhe</h4>
                    </div>

                    <p><b>Mohammad Rafi,Lata Mangeshkar</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="14">
                        <img src="{% static '/MdRafi_Songs/Kaun_hai_jo.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Kaun hai jo sapno me aaya</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="15">
                        <img src="{% static '/MdRafi_Songs/Jaanewalo_jara.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Jaanewalo jara</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="16">
                        <img src="{% static '/MdRafi_Songs/Badan_pe_sitare.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Badan pe sitare</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="17">
                        <img src="{% static '/MdRafi_Songs/Baharon_phool.jpeg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Baharon phool barsaon</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="18">
                        <img src="{% static '/MdRafi_Songs/Wo_teer.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Wo teer dil pe chala</h4>
                    </div>

                    <p><b>Mohammad Rafi, Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="19">
                        <img src="{% static '/MdRafi_Songs/Kitna_pyara.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Kitna pyara wada</h4>
                    </div>

                    <p><b>Mohammad Rafi, Lata Mangeshkar</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="20">
                        <img src="{% static '/MdRafi_Songs/Khuda_bhi.'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Khuda bhi aasman se</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="21">
                        <img src="{% static '/MdRafi_Songs/Mai_zindagi.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Mai zindagi ka saath</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="22">
                        <img src="{% static '/MdRafi_Songs/patta_patta.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Patta patta boota boota</h4>
                    </div>

                    <p><b>Mohammad Rafi, Lata Mangeshkar</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="23">
                        <img src="{% static '/MdRafi_Songs/Ye_reshmi.jpeg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Ye reshmi zulfen</h4>
                    </div>

                    <p><b>Mohammad Rafi</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="24">
                        <img src="{% static '/Asha_songs/Deewana_hua.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Deewana hua badal</h4>
                    </div>

                    <p><b>Mohammad Rafi, Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="25">
                        <img src="{% static '/Asha_songs/Uden_jab.png'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Uden jab jab zulfen teri</h4>
                    </div>

                    <p><b>Mohammad Rafi, Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="26">
                        <img src="{% static '/Asha_songs/Gun_guna.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Gun guna rahe hai bhanware</h4>
                    </div>

                    <p><b>Mohammad Rafi, Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="27">
                        <img src="{% static '/Asha_songs/Roka_kai.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Roka kai baar maine</h4>
                    </div>

                    <p><b>Mohammad Rafi, Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="28">
                        <img src="{% static '/Asha_songs/Sar_par.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Sar par topi laal</h4>
                    </div>

                    <p><b>Mohammad Rafi, Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="29">
                        <img src="{% static '/Asha_songs/Raat_ke.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Raat ke hamsafar</h4>
                    </div>

                    <p><b>Mohammad Rafi, Asha Bhosle</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="30">
                        <img src="{% static '/Lata_songs/Bekhudi_mein.jpg'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Bekhudi mein sanam</h4>
                    </div>

                    <p><b>Lata Mangeshkar, Mohammad Rafi, Lata Mangeshkar</b></p>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="31">
                        <img src="{% static '/Lata_songs/Yuhi_tum.jfif'%}">
                    </a>
                    <div class="songNameContainer">
                        <h4>Yuhi tum mujhse baat</h4>
                    </div>

                    <p><b> Mohammad Rafi, Lata Mangeshkar</b></p>
                </div>




            </div>

        </div>
    </div>

    <div id="aplayer">

    </div>
{% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
    <script src="{% static '/MdRafi.js'%}"> </script>

{% endblock js %}

</body>
{% endblock content %}