{% extends 'layout_song.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<!-- Link Swiper's CSS -->
<link href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<style>
    #text {
        display: inline;
    }
</style>
<link rel="stylesheet" href="{% static 'music hpg.css'%}">
<style>
    body {
        background-image: linear-gradient(rgb(64, 143, 0), rgb(0, 195, 255));
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        text-shadow: 0px 2px 45px rgb(255, 0, 136);
    }
    
    .swiper-container {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: 0px;
        margin-bottom: 0;
    }
    
    .swiper-container2 {
        width: 100%;
        padding-top: 200px;
        padding-bottom: 200px;
        margin-left: 0px;
        margin-bottom: 0;
    }
    
    .swiper-container2 {
        width: 100%;
        padding-top: 200px;
        padding-bottom: 200px;
        margin-left: 0px;
        margin-bottom: 0;
    }
    
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
        border: 5px solid rgb(200, 255, 48);
        justify-content: center;
        box-shadow: 0px 10px 34px grey;
        cursor: pointer;
    }
    
    .swiper-slide h3 {
        padding-top: 10px;
        margin-top: 100%;
        padding-bottom: 100px;
        margin-bottom: 11p;
        align-content: center;
        color: aliceblue;
        padding-left: 69px;
        transition: transform .5s ease;
    }
    
    .heading {
        margin: 10px;
        padding: 10px;
        color: white;
        text-align: center;
    }
    
    .swiper-slide:hover {
        border-style: dashed;
        transform: scale(1.5);
    }
    
    .head {
        color: rgb(205, 255, 140);
        font-weight: 400;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;
        text-shadow: 0px 10px 10px 22px rgb(255, 32, 2) !important;
    }
    
    #txt {
        text-align: center;
        color: white;
    }
</style>

<body>


    <!-- Swiper -->
    <main id="musicHome">


        <div class="heading mt-5 mb-0">
            <h1> <i class="fa fa-music fa-md"><i class="fa fa-music fa-md"></i></i> Your Personalized Music App
                <i class="fa fa-music fa-md"><i class="fa fa-music fa-md"></i></i>
            </h1>
        </div>
        <div id="txt">
            <h4>Welcome sir!!!</h4>
            <h4>We have a range of songs for you, right from the songs of sir Kishore to the songs of Arijit Singh</h4>
            <h4>Hope You Enjoy :)</h4>
        </div>
        <div class="swiper-container">
            <div class="head ">
                <h2>Sorted By Languages</h2>
            </div>
            <div class="swiper-wrapper mb-5">
                <div class="swiper-slide" style="background-image:url(static/image/Ht20.jpg)">
                    <h3>Bollywood Songs<br><a id="Hindi" href="/hindi"><button type="button" class="btn btn-primary">
                                Play Songs <i class="fa fa-play  padding-top:1px;"></i></button></a></h3>
                </div>
                <div class="swiper-slide" style="background-image:url(static/image/Et20.jpg)">
                    <h3>Hollywood Songs<br><a id="English" href="/english"><button type="button"
                                class="btn btn-primary">Play Songs <i
                                    class="fa fa-play  padding-top:1px;"></i></button></a></h3>
                </div>
                <div class="swiper-slide" style="background-image:url(static/image/Mt20.jpeg)">
                    <h3>Marathi Songs<br><a id="Marathi" href="/marathi"><button type="button"
                                class="btn btn-primary">Play Songs <i
                                    class="fa fa-play padding-top:1px;"></i></button></a></h3>
                </div>
            </div>
        </div>
        <div class="swiper-container">
            <div class="head">
                <h2>Sorted By Years</h2>
            </div>

            <div class="swiper-wrapper mb-5">
                <div class="swiper-slide" style="background-image:url(static/2020/2020.jpg)">
                    <h3>Hits of 2020<br><a id="2020" href="/songs_2020"><button type="button" class="btn btn-primary">
                                Play Songs <i class="fa fa-play  padding-top:1px;"></i></button></a></h3>
                </div>
                <div class="swiper-slide" style="background-image:url(static/2019/2019.jpg)">
                    <h3>Hits of 2019<br><a id="2019" href="/songs_2019"><button type="button" class="btn btn-primary">
                                Play Songs <i class="fa fa-play  padding-top:1px;"></i></button></a></h3>
                </div>
            </div>
        </div>
        <div class="swiper-container">
            <div class="head ">
                <h2>Sorted By Artists</h2>
            </div>
            <div class="swiper-wrapper mb-5">
                <div class="swiper-slide" style="background-image:url(static/image/arjit.jpg)">
                    <h3>Arijit Singh<br><a id="arjit" href="/arijit"><button type="button" class="btn btn-primary">Play
                                Songs <i class="fa fa-play  padding-top:1px;"></i></button></a></h3>
                </div>
                <div class="swiper-slide" style="background-image:url(static/image/atif.jpg)">
                    <h3>Atif Aslam<br><a id="atif" href="/atif"><button type="button" class="btn btn-primary">Play
                                Songs <i class="fa fa-play  padding-top:1px;"></i></button></a></h3>
                </div>
                <div class="swiper-slide" style="background-image:url(static/image/lata.jpg)">
                    <h3>Lata Mangeshkar<br><a id="lata" href="/lata"><button type="button" class="btn btn-primary">Play
                                Songs <i class="fa fa-play  padding-top:1px;"></i></button></a></h3>
                </div>
                <div class="swiper-slide" style="background-image:url(static/image/kishore.jpeg)">
                    <h3>Kishore Kumar<br><a id="kishore" href="/kishore"><button type="button"
                                class="btn btn-primary">Play Songs <i
                                    class="fa fa-play  padding-top:1px;"></i></button></a></h3>
                </div>
                <div class="swiper-slide" style="background-image:url(static/image/MdRafi.jpg)">
                    <h3>Mohammad Rafi<br><a id="MdRafi" href="/mdRafi"><button type="button"
                                class="btn btn-primary">Play Songs<i
                                    class="fa fa-play padding-top:1px;"></i></button></a></h3>
                </div>
                <div class="swiper-slide" style="background-image:url(static/image/Asha.jpg)">
                    <h3>Asha Bhosle<br><a id="Asha" href="/asha"><button type="button" class="btn btn-primary">Play
                                songs<i class="fa fa-play padding-top:1px;"></i></button></a></h3>
                </div>
            </div>
        </div>
    </main>

    {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.9/typed.min.js"></script>
    <script>
        $(document).ready(() => {
            var swiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                },
                pagination: {
                    el: '.swiper-pagination',
                },
            });
            var typed = new Typed('#text', {
                strings: ["Welcome sir!!", "We have a range of songs for you, right from the songs of sir Kishore to the songs of Arijit Singh", "Hope You Enjoy :)"],
                backSpeed: 15,
                smartBackspace: true,
                backDelay: 1200,
                startDelay: 1000,
                typeSpeed: 25,
                loop: true,
            });
        })
    </script>
    <script src="{% static 'music_hpg.js'%}"></script>


    {% endblock js %}

</body>

{% endblock content %}