<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" href="{% static '/m1.css'%}">
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
  <title>Arjit Singh Songs</title>

  <script src="jquery-3.5.1.min.js"></script>
</head>

<body class="normal">



  <div class="main">


    <div class="searchSong">
      <div class="searchContainer">
        <input class="form-control mr-sm-4 w-50 mx-5 my-2" id="searchTxt" type="text" placeholder="Search for songs">
        <a class="searchBtn ">
          <svg width="25" height="25" viewBox="0 0 25 25">
            <path class="fill_path" fill="#FFF" fill-rule="evenodd"
              d="M69.5 34a6.5 6.5 0 0 1 6.5 6.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 69.5 47a6.5 6.5 0 1 1 0-13zm0 2C67 36 65 38 65 40.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2-4.5-4.5-4.5z"
              transform="translate(-59 -32)"></path>
          </svg>
          Search Songs
        </a>
      </div>
    </div>

    <div class="theme">

      <button><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="Dark mode"
          onclick="changeTheme()" data-content="Check out the new Black theme"><i class="fa fa-moon-o"
            style="font-size:48px;color:black;"></i></a></button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="singerName">
          <h4 style="text-align: center; margin-top: 15px;">Best Of Arijit Singh</h4>
        </div>

        <div class="col-md-12 singerImage">
          <a href="https://en.wikipedia.org/wiki/Arjit_Singh" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" title="Get Info" data-content="Click to get info about artist"
            class="singerImg album-poster">
            <img src="{% static '/arjit/arjit.jpg' %}" id="singerImg" alt="Arjit Image">
          </a>
        </div>

        <hr>

        <hr>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="0">
            <img src="{% static '/arjit/Bekhayali.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Bekhayali</h4>
          </div>
          <p id="songInfo"><b>Kabir Singh </b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>

        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="1">
            <img src="{% static '/arjit/Dil_Hi_Toh_Hai.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Dil Hi Toh Hai</h4>
          </div>
          <p><b>The Sky Is Pink</b></p>

          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="2">
            <img src="{% static '/arjit/Sanam_Re.jpg' %}"></a>

          <div class="songNameContainer">
            <h4>Sanam Re</h4>
          </div>
          <p><b>Sanam Re</b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="3">

            <img src="{% static '/arjit/Khairiyat.jpg' %}"> </a>
          <div class="songNameContainer">
            <h4>Khairiyat</h4>
          </div>
          <p><b>Chhichhore</b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="4">

            <img src="{% static '/arjit/Phir_Le_Aya_Dil.jpg' %}"> </a>
          <div class="songNameContainer">
            <h4>Phir Le Aaya Dil</h4>
          </div>
          <p><b>Barfi</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="5">
            <img src="{% static '/arjit/Pal.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Pal</h4>
          </div>
          <p><b>Jalebi</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="6">
            <img src="{% static '/arjit/Sooraj_Dooba_Hai_Aaj.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Sooraj Dooba Hai Aaj</h4>
          </div>
          <p><b>Roy</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="7">
            <img src="{% static '/arjit/Sukoon_Mila.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Sukoon Mila</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="8">
            <img src="{% static '/arjit/Tera_Hoke_Rahoon.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Tera Hoke Rahoon</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="9">
            <img src="{% static '/arjit/Tu_Hi_Hai_Aashiqui.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Tu Hi Hai Aashiqui</h4>
          </div>
          <p><b>Aashiqui 2</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="10">
            <img src="{% static '/arjit/Tum_Hi_Ho.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Tum Hi Ho</h4>
          </div>
          <p><b>Aashiqui 2</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="11">
            <img src="{% static '/arjit/Tum_Saath_Ho.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4> Agar Tum Saath Ho</h4>
          </div>
          <p><b>Tamasha</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="12">
            <img src="{% static '/arjit/Darkhaast.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Darkhaast</h4>
          </div>
          <p><b>Shivaay</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="13">
            <img src="{% static '/arjit/Laal_Ishq.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Laal Ishq</h4>
          </div>
          <p><b>Goliyon Ki Rasleela Ram-Leela </b></p><button class="favBtn medium" tabindex="0" role="button"
            data-toggle="popover" data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="14">
            <img src="{% static '/arjit/Illahi.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Illahi</h4>
          </div>
          <p><b>Yeh Jawaani Hai Deewani</b></p><button class="favBtn medium" tabindex="0" role="button"
            data-toggle="popover" data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="15">
            <img src="{% static '/arjit/Ik_Vaari_ya.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Ik Vaari ya</h4>
          </div>
          <p><b>Raabata</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="16">
            <img src="{% static '/arjit/Hawayein.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Hawayein</h4>
          </div>
          <p><b>Jab Harry Met Sejal</b></p><button class="favBtn medium" tabindex="0" role="button"
            data-toggle="popover" data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="17">
            <img src="{% static '/arjit/Dhokha_Dhadi.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Dhokha Dhadi</h4>
          </div>
          <p><b>R... Rajkumar</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="18">
            <img src="{% static '/arjit/Mast_Magan.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Mast Magan</h4>
          </div>
          <p><b>2 states</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="19">
            <img src="{% static '/arjit/Meet.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Meet</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="20">
            <img src="{% static '/arjit/Tu_Mila_Toh_Haina.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Tu Mila Toh Haina</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="21">
            <img src="{% static '/arjit/Tujhe_Kitna_Chahne_Lage.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Tujhe Kitna Chahne Lage</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="22">
            <img src="{% static '/arjit/Chahun_Main_Ya_Naa.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Chahun Main Ya Na</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="23">
            <img src="{% static '/arjit/Bolna.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Mahi Bolna</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="24">
            <img src="{% static '/arjit/Janam_Janam.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Janam Janam</h4>
          </div>
          <p><b>Dilwale</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="25">
            <img src="{% static '/arjit/Kabhi_Jo_Baadal_Barse.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Kabhi Jo Baadal Barse</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="26">
            <img src="{% static '/arjit/Main_Phir_Bhi_Tumko_Chahunga.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Main Phir Bhi Tumko Chahunga</h4>
          </div>
          <p><b>Half Girlfriend</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="27">
            <img src="{% static '/arjit/Main_Rang_Sharbaton_Ka.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Main Rang Sharbto..</h4>
          </div>
          <p><b>Phata Poster Nikala Hero</b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="28">
            <img src="{% static '/arjit/Nashe_Si_Chadh_Gayi.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Nashe Si Chadh Gayi</h4>
          </div>
          <p><b>Song Info</b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="29">
            <img src="{% static '/arjit/Milne_Hai_Mujhse_Aayi.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Milne_Hai_Mujhse _Aayi</h4>
          </div>
          <p><b>Aashiqui 2</b></p><button class="favorite" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="30">
            <img src="{% static '/arjit/Pachtaoge.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Pachtaoge</h4>
          </div>
          <p><b>Jaani ve</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="31">
            <img src="{% static '/arjit/Roke_Na_Ruke_Naina.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Roke Na Ruke Naina</h4>
          </div>
          <p><b>Badrinath Ki Dulhania</b></p><button class="favBtn medium" tabindex="0" role="button"
            data-toggle="popover" data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="32">
            <img src="{% static '/arjit/Shayad.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Shayad</h4>
          </div>
          <p><b>Love Aaj Kal</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="33">
            <img src="{% static '/arjit/Tose_Naina.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Tose Naina</h4>
          </div>
          <p><b>Mickey Virus</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="34">
            <img src="{% static '/arjit/GIMA_Awards.jpg' %}">
          </a>
          <div class="songNameContainer">
            <h4>Arjit Singh at GIMA_Awards</h4>
          </div>
          <p><b>Mashup</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <br>

        <span>
          <h1 style="color:brown; font-family: cursive;"> More Songs <br> Coming Soon !!!</h1>
        </span>
        <hr>


      </div>
    </div>


    <div id="aplayer">

      <a data-placement="right" data-toggle="tooltip" title="Shuffle"> <button type="button"
          class="aplayer-icon aplayer-icon-order"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"
            viewBox="0 0 32 32">
            <path
              d="M22.667 4l7 6-7 6 7 6-7 6v-4h-3.653l-3.76-3.76 2.827-2.827 2.587 2.587h2v-8h-2l-12 12h-6v-4h4.347l12-12h3.653v-4zM2.667 8h6l3.76 3.76-2.827 2.827-2.587-2.587h-4.347v-4z">
            </path>
          </svg></button> </a>
    </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>

    <script src="jquery-3.5.1.min.js"></script>
    <script src="{% static '/m1.js'%}"> </script>


</body>

</html>