<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static '/m2.css'%}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
    <title>Atif Aslam songs</title>

    <script src="jquery-3.5.1.min.js"></script>

</head>

<body class="normal">



    <div class="main">


        <div class="searchSong">
            <div class="searchContainer">
                <input class="form-control mr-sm-4 w-50 mx-5 my-2" id="searchTxt" type="text"
                    placeholder="Search for songs">
                <a class="searchBtn ">
                    <svg width="25" height="25" viewBox="0 0 25 25">
                        <path class="fill_path" fill="#FFF" fill-rule="evenodd"
                            d="M69.5 34a6.5 6.5 0 0 1 6.5 6.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 69.5 47a6.5 6.5 0 1 1 0-13zm0 2C67 36 65 38 65 40.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2-4.5-4.5-4.5z"
                            transform="translate(-59 -32)"></path>
                    </svg>
                    Search Songs
                </a>
            </div>
        </div>

        <div class="theme">

            <button><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="Dark mode"
                    onclick="changeTheme()" data-content="Check out the new Black theme"><i class="fa fa-moon-o"
                        style="font-size:48px;color:black;"></i></a></button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="singerName">
                    <h4 style="text-align: center; margin-top: 15px;">Best Of Atif Aslam</h4>
                </div>

                <div class="col-md-12 singerImage">
                    <a href="https://en.wikipedia.org/wiki/Arjit_Singh" tabindex="0" role="button" data-toggle="popover"
                        data-trigger="hover" title="Get Info" data-content="Click to get info about artist"
                        class="singerImg album-poster">
                        <img src="{% static '/atif/atif.jpg' %}" id="singerImg" alt="Atif Image">
                    </a>
                </div>

                <hr>

                <hr>

                <div class=" songCard  col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="0">
                        <img src="{% static '/atif/Jeene_Laga_Hoon.jpg' %}" alt="Image not loaded">
                    </a>

                    <div class="songNameContainer">
                        <h4>Jeene Laga Hoon</h4>
                    </div>
                    <p>Kabir Singh</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class=" songCard  col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="1">
                        <img src="{% static '/atif/Maula.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Maula</h4>
                    </div>
                    <p>Maula</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="2">
                        <img src="{% static '/atif/Pehli_Nazar_Mein.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Pehli Nazar Mein</h4>
                    </div>
                    <p>Race</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="3">
                        <img src="{% static '/atif/Piya_O_Re_Piya.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Piya O Re Piya</h4>
                    </div>
                    <p style="margin-top: 0px;">Tere Naal..</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="4">
                        <img src="{% static '/atif/Pehli_Dafa.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Pehli Dafa</h4>
                    </div>
                    <p>Satyajeet Sena</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="5">
                        <img src="{% static '/atif/Tere_Bin.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tere Bin</h4>
                    </div>
                    <p>Simmba</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="6">
                        <img src="{% static '/atif/Tere_Sang_Yaara.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tere Sang Yaara</h4>
                    </div>
                    <p>Rustom</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="7">
                        <img src="{% static '/atif/Woh_Lamhe_Woh_Baatein.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Woh Lamhe Woh Baatein</h4>
                    </div>
                    <p>Zeher</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="8">
                        <img src="{% static '/atif/Baarish.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Baarish</h4>
                    </div>
                    <p>haalf Girlfriend</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="9">
                        <img src="{% static '/atif/Gulabi_Aankhein.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Gulabi Aankhein</h4>
                    </div>
                    <p>Sanam</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="10">
                        <img src="{% static '/atif/Sukoon_Mila.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Sukoon Mila</h4>
                    </div>
                    <p>Mary Kom</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="11">
                        <img src="{% static '/atif/Tera_Hone_Laga_Hoon.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tera Hone Laga Hoon</h4>
                    </div>
                    <p>Ajab Prem ki Gajab Kahani</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="12">
                        <img src="{% static '/atif/Tu_Mohabbat_Hai.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tu Mohabbat Hai</h4>
                    </div>
                    <p>Tere Naal..</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="13">
                        <img src="{% static '/atif/Main_Rang_Sharbaton_Ka.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Main Rang Sharbaton Ka</h4>
                    </div>
                    <p>Phata Poster Nikla Hero</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="14">
                        <img src="{% static '/atif/O_Saathi.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>O Saathi</h4>
                    </div>
                    <p>Baaghi 2</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>


                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="15">
                        <img src="{% static '/atif/Jeena_Jeena.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Jeena Jeena</h4>
                    </div>
                    <p>Badlapur</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="16">
                        <img src="{% static '/atif/Atif_Aslam_Mashup.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Atif_Aslam_Mashup</h4>
                    </div>
                    <p>Album</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="17">
                        <img src="{% static '/atif/Paniyon_ Sa.jpg' %}" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Paniyon_Sa</h4>
                    </div>
                    <p>Satyamev Jayete</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>


                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="18">
                        <img src="{% static '/atif/Tu_Jaane_Na.jpg' %}" alt="Image not loaded">
</a>
                        <div class="songNameContainer">
                            <h4>Tu Jaane Na</h4>
                        </div>
                        <p>Ajab Prem ki Gajab Kahani
                        </p>

                        <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                            onclick="changeIcon(this)" title="Add favorites"
                            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                                style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="19">
                        <img src="{% static '/atif/Tere_Liye.jpg' %}" alt="Image not loaded">
                    </a>

                    <div class="songNameContainer">
                        <h4>Tere Liye</h4>
                    </div>
                    <p> </p>

                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <br>

                <span>
                    <h1 style="color:brown; font-family: cursive;"> More Songs <br> Coming Soon !!!</h1>
                </span>
                <hr>
            </div>
        </div>


        <div id="aplayer">

            <a data-placement="right" data-toggle="tooltip" title="Shuffle"> <button type="button"
                    class="aplayer-icon aplayer-icon-order"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                        viewBox="0 0 32 32">
                        <path
                            d="M22.667 4l7 6-7 6 7 6-7 6v-4h-3.653l-3.76-3.76 2.827-2.827 2.587 2.587h2v-8h-2l-12 12h-6v-4h4.347l12-12h3.653v-4zM2.667 8h6l3.76 3.76-2.827 2.827-2.587-2.587h-4.347v-4z">
                        </path>
                    </svg></button> </a>
        </div>








        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>


        <script src="{% static '/m2.js'%}"> </script>


</body>

</html>