.dropdown-item {
    background: greenyellow;
    width: 200px;
}

.logo {
    size: 1cm;
    width: 1px;
}

h4 {
    color: gold
}

h5 {
    color: gold;
}

img {
    width: 100px;
    height: 70px;
    border-radius: 6px;
}

nav {
    background-image: url("Navbarbg.jpg");
    height: 70px;
}

body {
    background-image: url("Homepgback.jpg");
}

.container {
    margin-top: 100px;
}

#register {
    color: rgba(102, 47, 255, 0.397);
    border: 2px solid #f00;
    margin-left: 50px;
    padding-left: 80px;
    padding-top: 30px;
    height: 400px;
    width: 510px;
}

#register h1 {
    margin-left: 80px;
    margin-top: 40px;
}

#Signin {
    margin-left: 40px;
    margin-top: 20px;
}

#Signin h3 {
    margin-top: 7px;
    margin-bottom: 10px;
}

#Login {
    margin-left: 75px;
}

#Login h3 {
    margin-left: 40px;
    margin-right: 40px;
}

li .btn {
    background: red;
    margin-left: 5px;
    margin-right: 5px;
}

ul li div .btn {
    background: aquamarine;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #00f;
}

.card {
    margin-left: 150px;
    background-color: rgb(250, 4, 4);
}

.card-text {
    padding-top: 12px;
}

#joinus {
    margin-left: 150px;
}

#login {
    margin-left: 155px;
}

h3 {
    margin-left: 50px;
}

.nav-link {
    color: yellowgreen;
}

.card-body .btn {
    padding-left: 20px;
    padding-right: 20px;
}