#arjitImg{
    width:300px;
    height: 300px;
    margin-left:10px;
    border-radius:50%;
   box-shadow: 0px 3px 22px aquamarine;
   margin-left:40%;
}
#arjitHead{
    color:white;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 50px;
    padding-top:40px;
    padding-bottom: 20px;
    margin-left:40%;
}
.songs{
    display:flex;
    margin:30px;
   width:100%;
    justify-content:space-around ;
    justify-content:space-evenly ;
}
.card{
    width:25%;
    display:flex;
    cursor:pointer;
    
}
.card-title{
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}