body{
    background-color:#000;
    font-family: Open sans;
  }
  html{
    background-color: black !important;
  }
  input{
    width: 400px!important;
  }
  form{
    margin-left: 62%;
  }
  img{
    width: 100%;
    min-height:250px ;
    border: 2px solid red!important;
  }
  .main{
    padding:40px 0;
    background: linear-gradient(red,pink,yellow,cyan);
  }
  .col-md-3{
  margin-bottom: 40px;
  }
  .singerImage{
    text-align: center;
    margin-bottom: 20px;
    background: radial-gradient(green,yellow);
  }
  .songNameContainer{
    height: 14%;
  }
  #singerImg{
    width: 50%;
    border-radius: 49%;
    border: 5px solid #0f0;
  }
  .album-poster{
    position: relative;
    display: block ;
    border-radius: 7px;
    overflow: hidden;
    box-shadow:0px 15px 35px #3d2173a1;
    transition: all ease 0.4s;
  }
  .album-poster:hover{
    box-shadow: none;
    transform :scale(0.98) translateY(5px);
  }
  h3{
    font-size: 34px;
    margin-bottom: 34px;
    padding-bottom: 15px;
  }
  .songCard{
    border: 2px solid #fff000;
    background: radial-gradient();
    background: radial-gradien(blue,lightblue);
    background: linear-gradient(blue,green);
    border-radius: 15px;
 }
  p{
    font-size: 15px;
    color: lightcoral;
  }
  h4{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 700;
    color:cyan;
  }
  span{
    color:#000 !important;
    font-size: 16px;
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
   background:linear-gradient(blue,lightblue);
   height:4px;
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    background:#2196f3 !important;
    height:14px;
   }
   .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
   background-color: #2196f3 !important;
  }
  .aplayer .aplayer-icon{
    width:40px;
    height: 40px;
  }
  .aplayer .aplayer-info .apalyer-music{
    margin-bottom:20px;
  }
  .aplayer .aplayer-body .aplayer-info .aplayer-controller .aplayer-time button{
   
    border:5px solid rgb(111, 59, 255);
    padding:5px 5px 10px 5px ;
    margin-bottom: 10px;
    background-color: rgb(253, 230, 255);
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-time-inner{
  margin-top:5px;
  }
  #aplayer{
  position: fixed;
  bottom:-100%;
  left:0;
  width:100%;
  margin :0;
  box-shadow :0 -2px 2px #dadada;
  border:3px solid rgb(95, 164, 255);
  background: linear-gradient(#ffaaff,lightblue);
  transition:all ease 0.5s ;
  }
  #aplayer.showPlayer{
    bottom: 0;
  }
  #general{
    background: linear-gradient(green,lightgreen);
    margin-bottom: 20px;
  }
  #singerName{
    background:pink;
    margin-bottom: 15px;
  }
  .col-md-12{
    border-radius: 20px;
  }
  .col-md-12 h4{
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(17, 73, 255);
    padding-bottom: 5px;
    margin-bottom: 20px;
    box-shadow: 0px -3px 20px rgb(255, 251, 6);
  }