.jumbotron{
    background-image: url("bgimg14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(219, 250, 133);
    margin-bottom:2px!important;
}
.dropdown-menu{
    padding: 0px!important;
    background-color: blue!important;

}
.dropdown-item{
    border-radius: 10px!important;
}
.subhd h5{
    align-content: center;
    margin-left: 40%;
}
.subhd{
    padding-bottom: 5px;
    padding-top: 9px;
    background-image: url("cardsbg.jpg");
}
#cards {
    display: flex;
    padding-left: 210px;
}
.card{
    margin :30px;
    background-image: url("cardsbg1.jpg");
    border-radius: 15px;
}
ul {
    margin-left: 70%;
}
ul li{
    padding:10px;
}
.jumbotron{
    text-align: center;
}
div #logo{
    width: 200px;
    position: absolute;
    height: 140px;
    top: 10px;
    border-radius: 10px;
}
nav{
    background-image: url("Navbarbg.jpg");
}
ul li div .btn{
    background: aquamarine;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #00f;
}
#cards{
    background-image: url("Homepgback.jpg");
}
h1{
    color: red;
    font-weight: 500;
    font-size: 50px;
}
h4,h3{
    color: gold;
}