{% extends 'layout.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card" style="width: 28rem; height:20rem;">

                <div class="card-body">
                    <h5 class="card-title">
                        <h4>For the people of Golden Dreams</h4>
                    </h5>
                    <p class="card-text">Here,You will get Latest News,Awesome Music experience and Much more...</p>
                    <a href="#" id="joinus" class="btn btn-primary">
                        <h4>Join Us</h4>
                    </a>
                    <br>
                    <p class="card-text">Already Joined? Login Here</p>

                    <a href="#" id="login" class="btn btn-primary">
                        <h4>Login</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}