<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> Welcome </title>
</head>

<body background="bkgd.jpg">
    <div class="container">
        <div class="media">
            <img src="..." class="mr-3" alt="INHERITANCE">
            <div class="media-body">
                <h5 class="mt-0">INHERITANCE</h5>
                It all started with INHERITANCE. A program that is conducted in VJTI, wherein the SY's assign some project to the FY's so that they get an idea of how projects are made, what is team work, how to manage time and more than anything else how to utilize
                summer vacation. This site was made by Four students of VJTI.

                <div class="media mt-3">
                    <a class="mr-3" href="#">
                        <img src="rakesh.jpg" width="200" height="150" class="mr-3" alt="Rakesh's Pic">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">RAKESH RAJPUROHIT</h5>
                        A student of VJTI. Branch IT.
                    </div>
                </div>

                <div class="media mt-3">
                    <div class="media-body">
                        <h5 class="mt-0">VISHAL DANGE</h5>
                        A student of VJTI. Branch IT.
                    </div>
                    <a class="mr-3" href="#">
                        <img src="1.jpeg" class="ml-3" width="200" height="150" alt="pic">
                    </a>
                </div>

                <div class="media mt-3">
                    <a class="mr-3" href="#">
                        <img src="2.jpeg" class="mr-3" width="200" height="150" alt="pic">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">VEDANT MONDKAR</h5>
                        A student of VJTI. Branch IT
                    </div>
                </div>

                <div class="media mt-3">
                    <div class="media-body">
                        <h5 class="mt-0">PRASHANT BHALA</h5>
                        A student of VJTI. Branch IT
                    </div>
                    <a class="mr-3" href="#">
                        <img src="3.jpeg" class="mr-3" width="200" height="150" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>



</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>